.LineChartCard {
  width: 53vw;
  margin: 40px 0 30px 25px;
}

@media only screen and (max-width: 900px) {
  .headerImage {
    margin-left: 10px !important;
    height: 25vw !important;
    width: 85vw !important;
    background-size: 350px 100px !important;
    .nav-tabs .nav-link {
      margin: -10px 0px 20px 1.5rem !important;
    }
  }
  .tabsCard {
    font-size: 0.65rem !important;
    font-weight: 600;
    margin: 0 0 0 0px !important;
  }
  .headerImage2 {
    margin-left: 60px;
    .image {
      height: 17vw !important;
    }
  }
  .LineChartCard {
    width: 80vw;
    margin: 70px 0 30px 25px;
  }
  .LineChartCardBody {
    height: 50vw;
  }
}
.headerImage {
  margin: 30px 20px 0 20px;
  background: url("../../bgvector.png");
  background-repeat: no-repeat;
  height: 18vw;
  width: 55vw;
  background-size: 930px 300px;

  .nav-tabs .nav-link {
    color: #232323;
    border: none !important;
    margin: -10px 20px 20px 30px;
  }
  .nav-tabs .nav-link.active {
    color: #fb5b77;
  }

  .ontheimage {
    display: flex;
  }
  .headerImage2 {
    margin-left: 60px;
    .image {
      height: 14vw;
    }
  }
  .tabsCard {
    font-size: 1rem;
    font-weight: 600;
    margin: 30px 0 0 5px;
  }
  .textHeader {
    font-size: 2rem;
    font-weight: 700;
    color: #fa4b6a;
    margin-left: 40px;
    width: fit-content;
    align-self: center;
    display: inline-block;
  }
}
.headingTimeline {
  font-weight: 700;
  color: #fa375a;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  background-color: #feb9c5;
}
.heading {
  font-weight: 700;
  margin-bottom: 10px;
}
ul.timeline {
  margin-left: 20px;
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #fa375a;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 0 0 40px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  border: 7px solid #fa375a;
  left: 23px;
  width: 10px;
  height: 10px;
  z-index: 400;
}
.headingTimeline {
  margin: 10px 0 20px 30px;
}
.card-body {
  padding: 1.25rem 1.25rem 0 1.25rem !important;
}
ul {
  margin-bottom: 0 !important;
}
