.headerImage {
  margin: 30px 20px 0 20px;
  background: url("../../bgvector.png");
  background-repeat: no-repeat;
  height: 18vw;
  width: 53vw;
  background-size: 800px 250px;
  .nav-tabs .nav-link{
      margin-top: -10px;
      border: none !important;
      margin: -10px 10px 0 10px;
  }
  .ontheimage {
    display: flex;
    justify-content: space-between;
  }
  .headerImage2 {
    text-align: right;
    display: inline-block;
  }
  .tabsCard{
      margin: 30px 0 0 5px;
  }
  .textHeader {
    font-size: 2rem;
    font-weight: 700;
    color: #fa4b6a;
    margin-left: 40px;
    width: fit-content;
    align-self: center;
    display: inline-block;
  }
}
