.navreact {
  margin-top: 20px;
}
.more {
  margin: 12px 0 0 30px;
  width: 20px;
  cursor: pointer;
}
.userAvatar {
  width: 2px;
  height: 2px;
}
.MuiAvatar-root{
    margin-top: 8px;
    width: 30px !important;
    height: 30px !important;
}
.App-logo {
  margin: 12px 0 0 30px;
  height: 18px;
  pointer-events: none;
}
.searchbox {
  margin-left: 20px;
}
.bellicon{
    cursor: pointer;
    margin: 8px 0 0 15px;
    width: 30px;
    height: 30px;
}
.search {
  border: 0px;
  /* box-shadow: 0 0 3px 	#808f8f; */
  width: 60vw;
  height: 40px;
  background: white url(../../loupe.svg) left no-repeat;
  background-size: 17px;
  background-position-x: 15px;
  padding-left: 40px;
}
.search:focus {
  outline: none;
}
.users{
    display: flex;
    
}